*{
  list-style:none;
}
.app-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.navbar-content {
  display: flex;
  position: relative;
}

.dropdown-btn {
  border: 1px solid #e5e7eb;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  font-weight: 600;
  color: #4b5563;
  background-color: #fff;
}

.dropdown-menu {
  position: absolute;
  left: 0.1rem;
  top: 2.5rem;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: auto;
  list-style:none;
  display:flex;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
  padding-right:0.5rem;
  gap:6.5rem;
}
.menu-item span {
  color:#9ca3af;
  font-weight: 600;
}

.menu-btn {
  border: 1px solid #e5e7eb;
  padding: 8px;
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  font-weight: 600;
  color: #4b5563;
  background:white;
}

.sorting-menu {
  position: absolute;
  left: 200px;
  top:160px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100px;
}
.sorting-menu li,
.grouping-menu li,
.dropdown-menu li{
  margin-left: -30px;
}

.grouping-menu{
  position: absolute;
  left: 200px;
  top: 110px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100px;
}
.grouping-btn,
.sorting-btn {
  width: 100%;
  padding: 12px ;
  background-color: white;
  border: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.grouping-btn:hover,
.sorting-btn:hover {
  background-color: #f3f4f6;
}
